@font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/l/font?kit=-F62fjtqLzI2JPCgQBnw7HFowxp58j0K8wmVlTrhRHhzWle-NyMW8V3n40TMh7-R9o_MdJiiVSLullzkJL7poTrq-XBB9agqEh4xOlJEmMMR-qagaJAgtbh4yDrMxHlk1PR-0g7Nov4JsI8Ey55pXSFuDcd0j9xc7rjIPng1h21HTT1yit89nw&skey=72472b0eb8793570&v=v52) format('woff2');
  }
  @font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/l/font?kit=-F62fjtqLzI2JPCgQBnw7HFowxp58j0K8wmVlTrhRHhzWle-NyMW8V3n40TMh7-R9o_MdJiiVSLullzkJL7poTrq-XBB9agqEh4xOlJEmMMR-qagaJAgtbh4yDrMxHlk1PR-0g7Nov4JsI8Ey55pXSFuDcd0j9xc7rjIPng1h21HTT1yit89nw&skey=72472b0eb8793570&v=v52) format('woff2');
  }
  @font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/l/font?kit=-F62fjtqLzI2JPCgQBnw7HFowxp58j0K8wmVlTrhRHhzWle-NyMW8V3n40TMh7-R9o_MdJiiVSLullzkJL7poTrq-XBB9agqEh4xOlJEmMMR-qagaJAgtbh4yDrMxHlk1PR-0g7Nov4JsI8Ey55pXSFuDcd0j9xc7rjIPng1h21HTT1yit89nw&skey=72472b0eb8793570&v=v52) format('woff2');
  }
  